/*.cdashmm_pricing_table_grid{
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 1em;
    text-align: center;
    padding-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}*/

.cdashmm_pricing_table_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    grid-template-rows: auto;
    grid-gap: 1em;
    text-align: center;
    margin-top:30px;
    justify-content: center;
}

.cdashmm_pricing_table_column {
    border: #ccc 2px solid;
    padding: 20px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top:30px;
    width:250px;
}

.memb_level_heading {
    min-height: 50px;
    /*border-bottom: #ccc 2px solid;
    margin-bottom: 10px;*/
    line-height:50px;
}

.memb_level_heading p{
    font-size: 30px;
    font-weight: bold;
    line-height:1.2;
    display:inline-block;
    vertical-align: middle;
    padding-top:10px;
}

.memb_level_desc.hide, .memb_level_perks.hide{
    display:none;
}
.cdashmm_pricing_table_column .price_term{
    font-size:16px;
    color:#666;
}